@import "theme-editor.css";

html {
	--lumo-border-radius: calc(var(--lumo-size-m)/2);
}

@import url('https://fonts.googleapis.com/css?family=Lato');

.centered-content {
	margin: 0 auto;
	max-width: 250px;
}

body {
	font-family: 'Lato', sans-serif;
}

.MenuButton {
	background: transparent;
	background-color: transparent;
}

.MenuButton:hover, .MenuButton:before {
	background-color: transparent;
}

.HomeButton1 {
	display: table;
	font-size: 2.4em;
	margin-left: 0.8em;
	margin-right: 0.6em;
}
/*.MenuButton:after{
	filter:blur(15px)
}*/
.recentGames {
	background-image:
		url("https://steamuserimages-a.akamaihd.net/ugc/493519450183471287/32A59030555A6171529D3688386A24268CB9B791/");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
}

.labelAdjust {
	overflow-wrap: anywhere;
	align-items: center
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.scroll::-webkit-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: gray darkblue;
}

#outlet::-webkit-scrollbar {
	width: 0px;
	background: transparent;
	scrollbar-color: gray darkblue;
}

/* button clear*/
.clearDisabled {
	opacity: 1;
	/*filter: alpha(opacity=1.0);*/
	background: transparent;
	color: #c8c8c8;
}

/*footer*/
.menu {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	pointer-events: none;
}

.menu:hover {
	pointer-events: all;
}

.label {
	display: inline-block;
	cursor: pointer;
	pointer-events: all;
}

.spacer {
	display: inline-block;
	width: 80px;
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

.spacer:before {
	content: "";
	position: absolute;
	border-bottom: 1px solid #ffffff;
	height: 1px;
	width: 0%;
	transition: width 0.25s ease;
	transition-delay: 0.7s;
}

.item {
	position: relative;
	display: inline-block;
	margin-right: 30px;
	top: 10px;
	opacity: 0;
	transition: opacity 0.5s ease, top 0.5s ease;
	transition-delay: 0;
}

span {
	transition: color 0.5s ease;
}

.item:hover span {
	color: #ff0000;
}

.menu:hover .spacer:before {
	width: 100%;
	transition-delay: 0s;
}

.menu:hover .item {
	opacity: 1;
	top: 0px;
}

.item:nth-child(1) {
	transition-delay: 0.45s;
}

.item:nth-child(2) {
	transition-delay: 0.4s;
}

.item:nth-child(3) {
	transition-delay: 0.35s;
}

.item:nth-child(4) {
	transition-delay: 0.3s;
}

.item:nth-child(5) {
	transition-delay: 0.25s;
}

.item:nth-child(6) {
	transition-delay: 0.2s;
}

.item:nth-child(7) {
	transition-delay: 0.15s;
}

.item:nth-child(8) {
	transition-delay: 0.1s;
}

.item:nth-child(9) {
	transition-delay: 0.05s;
}

.item:nth-child(10) {
	transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
	transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
	transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
	transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
	transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
	transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
	transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
	transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
	transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
	transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
	transition-delay: 0.7s;
}
/*visits*/
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropup {
	position: relative;
	display: inline-block;
}

.dropup-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	bottom: 50px;
	z-index: 1;
}

.dropup-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropup-content a:hover {
	background-color: #ccc
}

.dropup:hover .dropup-content {
	display: block;
}

.dropup:hover .dropbtn {
	background-color: #2980B9;
}

.readEditor * {
	color: gray !important;
	margin: 0em 0em 0em 1em !important;
}

label[id^="label_editor"] {
	display: none !important;
}

ul[part^="label-ul"] {
	display: none !important;
}

vaadin-button[disabled] {
	pointer-events: auto;
}
/*footerend*/