/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-vertical-layout.home-vertical-layout-1 {
  background-color:rgba(189,106,106,0);
  border-style:solid;
  border-width:3px;
  gap:var(--lumo-space-l);
}
